* {
    scrollbar-width: thin !important;
    scrollbar-color: #212121 transparent !important;
}

@media screen and (min-width: 960px) {
    ::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #212121 !important;
}

::-webkit-scrollbar-track-piece {
    background: transparent !important;
}

html {
    overflow-x: auto !important;
    overflow-y: auto !important;
}

.row {
    margin: 0px !important;
}