* {
    scrollbar-width: thin;
    scrollbar-color: #212121 transparent;
}

@media screen and (min-width: 960px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #212121;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

html {
    overflow: auto !important;
}

.row {
    margin: 0px !important;
}

.v-card.v-card--flat, .v-tabs-items {
    border-color: transparent !important;
    background-color: transparent !important;
}